// main: style.scss

.preview-col{
  display: flex;
  flex-direction: column;

  .copy-btn{
    display: block;
    background: #24272e;
    color: whitesmoke;
    font-size: 1rem;
    margin: 2rem auto;
    padding: 0.75rem;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover, &:active {
        background: #27aae1;
    }

    &--success {
        background: rgb(52, 199, 89);

        &:hover, &:active {
            background: rgb(52, 199, 89);
        }
    }
  }
}
